/* Button responsive */
@media only screen and (min-width:1441px){
  .hideLarge{
    display: block;
  }
  .hideMiddle{
    display: none;
  }
  .hideSmall{
    display: none;
  }
}

@media only screen and (max-width:1440px){
  .hideLarge{
    display: none;
  }
  .hideMiddle{
    display: block;
  }
  .hideSmall{
    display: none;
  }
}

@media only screen and (max-width:430px){
  .hideLarge{
    display: none;
  }
  .hideMiddle{
    display: none;
  }
  .hideSmall{
    display: block;
  }
}

/* Text responsive */
@media only screen and (min-width:1441px){
  .loginOutbtnFont{
    font-size: 40px;
    font-weight: 700;
  }
}

@media only screen and (max-width:1440px){
  .loginOutbtnFont{
    font-size: 30px;
    font-weight: 700;
  }
}

@media only screen and (max-width:430px){
  .loginOutbtnFont{
    font-size: 20px;
    font-weight: 700;
  }
}

/* Btn Size */
@media only screen and (min-width:1441px){
  .btnSize{
    height: 80px;
    padding: 0 2rem;
    border-radius: 10px;
  }
}

@media only screen and (max-width:1440px){
  .btnSize{
    height: 60px;
    padding: 0 1.5rem;
    border-radius: 7px;
  }
}

@media only screen and (max-width:430px){
  .btnSize{
    height: 40px;
    padding: 0 1rem;
    border-radius: 5px;
  }
}
